.post {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 100ms ease-in-out;
    border-radius: 10px;
    background: #eee;
}

.post img {
    max-width: 100%;
    height: 35vh;
    width: 35vh;
    margin: 0 auto;
    display: flex;
    
}

.post:hover {
    transform: scale(1.05);
}

.post-content {
    padding: 30px;
    background: #eee;
}

.post p {
    padding: 5px;
    
}


